# image compose and docs: https://hub.docker.com/_/nextcloud


version: '3.8'

services:
  nextcloud:
    image: nextcloud:${APP_VERSION}
    container_name: ${APP_NAME}
    ports:
      - ${APP_PORT}:80
    volumes:
      - nextcloud:/var/www/html
    environment:
      - MYSQL_PASSWORD=${DB_MYSQL_PASSWORD}
      - MYSQL_DATABASE=${DB_MYSQL_NAME}
      - MYSQL_USER=${DB_MYSQL_USER}
      - MYSQL_HOST=mysql
      - REDIS_HOST=redis
      - NEXTCLOUD_TRUSTED_DOMAINS=${APP_TRUST_URL}
      - NEXTCLOUD_ADMIN_USER=${APP_USER}
      - NEXTCLOUD_ADMIN_PASSWORD=${APP_PASSWORD}
    depends_on: 
      - mysql
      - redis
    restart: always

  mysql:
    image: mysql:${DB_MYSQL_VERSION}
    container_name: ${APP_NAME}-mysql
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    ports:
     - ${DB_MYSQL_PORT}:3306
    volumes:
      - mysql:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ${DB_MYSQL_NAME}
      MYSQL_USER: ${DB_MYSQL_USER}
      MYSQL_PASSWORD: ${DB_MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_MYSQL_PASSWORD}

  redis:
    image: redis:${DB_REDIS_VERSION}
    container_name: ${APP_NAME}-redis
    restart: always
    command: ["--databases", "1"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - redis:/data

networks:
  default:
      name: ${APP_NAME}

volumes:
  nextcloud:
    driver: local
  redis:
    driver: local
  mysql:
    driver: local
